// imports
@import "colors";
@import "util";

*,
*:after,
:before {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: map-get($maincolors, 'blue');
}

.container {
    @include dimensions();
    max-width: 640px;
    padding: 30px 20px;
    margin: 20px auto;
    header {
        margin-bottom: 1.5rem;
        h1 {
            @include typography(1.8rem, 2.1rem, center);
            color: map-get($maincolors, 'dark-blue');
        }
        small {
            @include typography(0.8rem, 1rem, left, lighter);
            padding-top: 5px;
            padding-left: 50%;
            color: map-get($maincolors, 'white');
        }
    }
}


/* First Screen Cover */

main {
    @include placement();
    overflow: hidden;
    @include dimensions();
    max-width: 600px;
    min-height: 500px;
    > div {
        @include displayFlex(center);
        align-items: center;
    }
    .front-screen {
        @include dimensions($h: 80%);
        @include placement(absolute);
        background-color: map-get($maincolors, 'blue');
        border-radius: 4px;
        z-index: 10;
        >button {
            background: transparent;
            border-radius: 4px;
            color: map-get($maincolors, 'white');
            border: 2px solid;
            border-color: darken(map-get($maincolors, 'blue'), 5%);
            padding: 20px 60px;
            outline: 0;
            transition: border-color 0.3s ease;
            &:hover {
                border-color: darken(map-get($maincolors, 'blue'), 20%);
                cursor: pointer;
            }
        }
    }
    .loader {
        @include dimensions($h: 80%);
        @include placement(absolute);
        background-color: map-get($maincolors, 'blue');
        z-index: 5;
        >span {
            display: block;
            @include dimensions($w: 60px, $h: 60px);
            border-radius: 50%;
            border: 5px solid;
            border-color: darken(map-get($maincolors, 'blue'), 15%) darken(map-get($maincolors, 'blue'), 15%) map-get($maincolors, 'green');
            animation: spin 2s linear infinite;
        }
    }
    .questionare {
        @include dimensions();
        @include placement(absolute);
        background-color: map-get($maincolors, 'blue');
        border-radius: 4px;
        z-index: 1;
    }
}

.wrapp {
    @include dimensions();
    .question {
        word-wrap: break-word;
        @include typography(1.4rem, 1.6rem);
        padding: 20px;
    }
    .q-form {
        @include displayFlex(space-between, wrap);
        .q-item {
            border: 2px solid map-get($maincolors, 'green');
            border-radius: 4px;
            width: 280px;
            margin-top: 20px;
            >label {
                display: block;
                @include typography(1.4rem, 1.6rem);
                padding: 10px;
                color: map-get($maincolors, 'dark-grey');
                transition: all 0.3s ease-out;
                &:hover {
                    cursor: pointer;
                    background-color: map-get($maincolors, 'green');
                    color: map-get($maincolors, 'white');
                }
            }
        }
    }
    .submit-block {
        text-align: right;
        margin-top: 60px;
        padding-right: 20px;
        padding-bottom: 20px;
        >button.submit {
            padding: 5px 25px;
            border-radius: 4px;
            border: 0;
            outline: 0;
            border: 2px solid map-get($maincolors, 'green');
            background-color: map-get($maincolors, 'green');
            color: map-get($maincolors, 'white');
            transition: color 0.2s ease, font-weight 0.2s ease;
            &:hover {
                cursor: pointer;
                background-color: transparent;
                color: map-get($maincolors, 'dark-grey');
            }
            &:disabled {
                border-color: transparent;
                background-color: map-get($maincolors, 'light-grey');
                color: map-get($maincolors, 'white');
                cursor: not-allowed;
            }
        }
    }
}

.visuallyhidden {
    @extend %hiddenOut;
}

.final-score {
    @include typography(2rem, 2.2rem, left);
    // font-size: 2rem;
    // line-height: 2.2rem;
}

input[type='radio']:checked+label {
    background-color: map-get($maincolors, 'green');
}

input[type='radio']:not(:checked)+label {
    background-color: transparent;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
